* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(132, 190, 132);
    position: relative;
}

main {
    border-style: solid;
    text-align: center;
}

h1 {
    color: rgb(113, 20, 220);
    text-shadow: 2px 3px darkgoldenrod;
    font-size: 100px;
    font-family: 'Dancing Script', cursive;
}

header {
    text-align: center;
}

select {
    font-size: xx-large;
    margin-top: 15px;
}

.card {
    background-color: rgb(218, 233, 152);
    border: 5px solid rgb(255, 0, 191);
    margin-top: 20px;
    text-align: center;
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

#photo-template {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

img {
    width: 400px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    transition: filter 0.8s;
}

/* img:hover {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    transition: filter 0.8s;
} */

img:hover~h2 {
    opacity: .8;
    transition: opacity 0.5s;
}

div p {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    margin: 10px 0px;
}

h2 {
    margin: 10px 0px;
    font-size: 40px;
    font-family: 'Patrick Hand', cursive;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 1);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    opacity: 0;
}

h2:hover {
    opacity: .8;
    transition: opacity 0.5s;
}

h2:hover~img {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    transition: filter 0.8s;
}

select {
    background-color: rgb(146, 9, 158);
    color: rgb(194, 212, 111);
    font-family: 'Righteous', cursive;
    width: 200px;
}

button {
    height: 30px;
    width: 200px;
    font-size: 23px;
    font-family: 'Righteous', cursive;
    background-color: rgb(146, 9, 158);
    color: rgb(194, 212, 111);
}

.pages {
    margin-top: 0;
}

.select {
    margin-bottom: 0px;
}